/* reviews: use a brighter green for new files, and prefix with + */
li.frx-list-item span.frx-added a {
	color: green !important;
}

/*span.tree.frx.file.filetype-java.frx-operation.frx-added a:before {*/
li.frx-list-item span.frx-added a:before {
	content: "+ ";
	font-weight: normal;
	color: #666;
}

/* reviews: use a brighter blue for changed files, and prefix with Δ */
li.frx-list-item span.frx-changed a {
	color: blue !important;
}

li.frx-list-item span.frx-changed a:before {
	content: "\0394  ";
	font-weight: normal;
	color: #666;
}

/* reviews: use a darker red for deleted files, and prefix with - */
li.frx-list-item span.frx-deleted a {
	color: darkred !important;
}

li.frx-list-item span.frx-deleted a:before {
	content: "- ";
	font-weight: normal;
	color: #666;
}


div#footer div.fineprint, div#footer div.licensemessage {
	display: none;
}
